h3{
    line-height: 1.4!important;
    font-size: 18px;
    font-weight: bold;
}
.light{
    color :rgba(0,0,0,.44)!important;
}
.blogDiv{
    margin: auto;
    margin-bottom: 15px;
}
.title{
    line-height: 0.8 !important;
    min-height: 50px;
}
.blogData{
    /*padding: 13px;*/
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}
.authorName{
    line-height: 0.9 !important;
}
.displayBlock{
    display: block;
}
.author{
    padding-top: 10px;
    /*margin-top: 80px;*/
}
.flex{
    display: flex;
}
.cursorPointer{
    cursor: pointer;
}
.nopadding{
    padding: 0px !important;
}
.margin0{
    margin: 0px;
}
.small{
    font-size: 13px;
}
.liked{
    padding-left: 70px;
    font-size: 17px;
    color: blue;
}
.like{
    font-size: 14px;
    padding-left: 60px;
    padding-top: 4px;
    color :rgba(0,0,0,.44)!important;
}
.blogkimage{
    object-fit: cover;
}