h3{
    line-height: 1.4!important;
    font-size: 18px;
    font-weight: bold;
}
.light{
    color :rgba(0,0,0,.44)!important;
}
.blogDiv{
    padding: 7px;
    margin: auto;
    border: 1px solid #c3c3c3;
    margin-bottom: 3%;
}
.title{
    line-height: 0.8 !important;
}
.blogData{
    padding: 13px;
}
.authorName{
    line-height: 0.9 !important;
}
.displayBlock{
    display: block;
}
.author{
    position: relative;
    margin-top: 80px;
}
.flex{
    display: flex;
}
.cursorPointer{
    cursor: pointer;
}
.nopadding{
    padding: 0px !important;
}
.margin0{
    margin: 0px;
}
.small{
    font-size: 13px;
}
.liked{
    padding-left: 60px;
    padding-top: 7px;
    font-size: 17px;
    color: blue;
}
.like{
    font-size: 14px;
    padding-left: 60px;
    padding-top: 4px;
    color :rgba(0,0,0,.44)!important;
}